:host {
    .owl-carousel .owl-item img {
        width: 120px !important;
    }
    .owl-carousel .owl-item {
        display: flex;
        justify-content: center;
    }
    .owl-carousel {
        position: relative;
    }
    .owl-nav {
        position: absolute;
        top: 7px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .owl-prev,
    .owl-next {
        margin-left: -25px !important;
        background: transparent !important;
        font-size: 30px !important;
    }
    .owl-next {
        margin-right: -25px !important;
    }
}