<footer class="mt-7">
    <div class="container">
        <div class="footer__Section_cont">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 container_footer">
                    <div class="container_footer_1">
                        <h5>Get in touch</h5>
                        <a href="#">hello@jtdadvertising.in</a>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 container_footer">
                    <div class="container_footer_2">
                        <h5>Connect</h5>
                        <div class="d-flex social__links">
                                <a href="https://www.facebook.com/jointhedotsofficial?mibextid=ZbWKwL" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://instagram.com/join_the_dots_official?igshid=NDk5N2NlZjQ=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://in.linkedin.com/company/jtddigital" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="https://www.behance.net/JoinTheDots" target="_blank"><i class="fa-brands fa-square-behance"></i></a>
                        </div>
                       
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 container_footer">
                    <div class="container_footer_3">
                        <h5>Address</h5>
                        <p>Naskarhat, East Kolkata Twp, Kolkata, West Bengal 700107</p>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="copyright">
            <p>Copyright - 2022© <a href="#"> Join The Dots</a></p>
        </div>
    </div>
</footer>