.top__content_banner {
    margin-top: 6rem;
    padding: 40px;
}

.top__content_banner .top__left_content h3 {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    color: #fff;
}

.top__content_banner .top__left_content h3 span {
    color: #ed1e24;
}