<header>
    <nav class="navbar navbar-expand-md navbarSectionMain">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">

                <div class="menu-top-menu-container">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        <li id="menu-item-28" class="menu-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                        <li id="menu-item-55" class="menu-item">
                            <a class="nav-link" routerLink="/works" routerLinkActive="active">Work</a>
                        </li>
                        <li id="menu-item-26" class="menu-item">
                            <a class="nav-link" routerLink="/service" routerLinkActive="active">Services</a>
                        </li>
                        <li id="menu-item-25" class="menu-item">
                            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                        </li>
                        <li id="menu-item-24" class="menu-item">
                            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                        </li>
                    </ul>
                </div>
                <a href="#" id="hideAside" class="quote-btn">Request a quote</a>
            </div>
        </div>
    </nav>

</header>