<app-pages-title bannerTextHeading="We'd love to hear from you to start" bannerTextSubHeading="your project.">
</app-pages-title>

<section class="contact_section my-7">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 p-0">
                <div class="imgcontainer_about">
                    <img src="assets/contact/banner1.jpg" alt="contactimg">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 p-0">
                <div class="about__content">
                    <h3>Contact <span>Us</span></h3>
                    <h4>Kolkata Office</h4>
                    <p>+91 6290 675 498 | +91 90510 30921</p>
                    <p>Naskarhat, East Kolkata Twp,<br> Kolkata, West Bengal 700107</p>
                </div>
            </div>
        </div>
    </div>
</section>