<div class="container banner-section">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-7">
            <app-banner></app-banner>
        </div>

        <div class="col-12 col-md-5 col-lg-5">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>
<div class="container service-section">
    <div class="row">
        <div class="col-12 col-md-6">
            <app-accordian></app-accordian>
        </div>
        <div class="col-12 col-md-6">
            <div class="service-banner">
                <img src="assets/services/banner1.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container some-fact-section">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="some_fact-card p-5">
                <div class="row">
                    <div class="col-6 p-5">
                        <h1>Some fun facts</h1>
                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as</p>
                    </div>

                    <div class="col-6 p-5">
                        <div class="facts_block">
                            <div class="block block1">
                                <i class="fa-solid fa-suitcase"></i>
                                <div class="context">
                                    <div class="number">
                                        1000+
                                    </div>
                                    <div class="title">
                                        Projects Done
                                    </div>
                                </div>
                            </div>
                            <div class="block block2">
                                <i class="fa-solid fa-heart"></i>
                                <div class="context">
                                    <div class="number">
                                        100
                                    </div>
                                    <div class="title">
                                        Happy Clients
                                    </div>
                                </div>
                            </div>
                            <div class="block block3">
                                <i class="fa-solid fa-mug-saucer"></i>
                                <div class="context">
                                    <div class="number">
                                        3000+
                                    </div>
                                    <div class="title">
                                        Coffee Cup
                                    </div>
                                </div>
                            </div>
                            <div class="block block4">
                                <i class="fa-solid fa-lightbulb"></i>
                                <div class="context">
                                    <div class="number">
                                        1500+
                                    </div>
                                    <div class="title">
                                        Great Ideas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container work_showcase-section">
    <div class="row">
        <div class="bacground-overlay">
            <img src="assets/work/arrow.png" alt="">
        </div>
        <div class="col-12 col-md-4 left_section">
            <h1>What we can do for you or your business</h1>
            <a class="readmore" href="#">Read More <i class="fa-solid fa-arrow-right has-transition"></i></a>
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/1.jpg" alt="">
                            <div class="work-info">
                                Film Publicity Campaign
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3"></div>
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/3.jpg" alt="">
                            <div class="work-info">
                                Advertising Campaigns
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3"></div>
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/2.jpg" alt="">
                            <div class="work-info">
                                Branding & Design
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3"></div>
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/4.jpg" alt="">
                            <div class="work-info">
                                Web Development
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="brand_slider-section p-5">
    <div class="container p-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <h1>The Family we have Built & Nurtured</h1>
            </div>
            <div class="col-12 col-md-12 mt-5">
                <app-brand-slider></app-brand-slider>
            </div>
        </div>
    </div>

</div>