<div class="container banner-section">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-7">
            <app-banner></app-banner>
        </div>

        <div class="col-12 col-md-5 col-lg-5">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>
<div class="container service-section">
    <div class="row">
        <div class="col-12 col-md-6">
            <app-accordian></app-accordian>
        </div>
        <div class="col-12 col-md-6">
            <div class="service-banner">
                <img src="assets/services/banner1.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container some-fact-section">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="some_fact-card p-5">
                <div class="row">
                    <div class="col-12 col-md-12 p-5">
                        <div class="facts_block">
                            <div class="block block1">
                                <i class="fa-solid fa-suitcase"></i>
                                <div class="context">
                                    <div class="number">
                                        {{projectcount + "+"}}
                                    </div>
                                    <div class="title">
                                        Projects Done
                                    </div>
                                </div>
                            </div>
                            <div class="block block2">
                                <i class="fa-solid fa-heart"></i>
                                <div class="context">
                                    <div class="number">
                                        {{ clientcount + "+"}}
                                    </div>
                                    <div class="title">
                                        Happy Clients
                                    </div>
                                </div>
                            </div>
                            <div class="block block3">
                                <i class="fa-solid fa-mug-saucer"></i>
                                <div class="context">
                                    <div class="number">
                                        {{ coffeecount + "+"}}
                                    </div>
                                    <div class="title">
                                        Coffee Cup
                                    </div>
                                </div>
                            </div>
                            <div class="block block4">
                                <i class="fa-solid fa-lightbulb"></i>
                                <div class="context">
                                    <div class="number">
                                        {{ greatIdeas }}
                                    </div>
                                    <div class="title">
                                        Great Ideas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mission-vission-section">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card left-card">
                <div class="card-body">
                    <h5 class="card-title">Mission</h5>
                    <p class="card-text">Our mission is to partner with companies to understand their unique challenges and opportunities, and deliver insightful, data-driven solutions that drive results. We believe in collaboration, transparency, and putting our clients'
                        needs first.</p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card right-card">
                <div class="card-body">
                    <h5 class="card-title">Vision</h5>
                    <p class="card-text">Our vision is to be the go-to agency for the companies looking for a strategic partner that can help them achieve their marketing objectives with precision and creativity.</p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container work_showcase-section">
    <div class="row">
        <div class="bacground-overlay">
            <img src="assets/work/arrow.png" alt="">
        </div>
        <div class="col-12 col-md-4 left_section">
            <h1>What we can do for you or your business</h1>
            <a class="readmore" routerLink="/service">Read More <i class="fa-solid fa-arrow-right has-transition"></i></a>
        </div>
        <div class="col-12 col-md-8 image_block_section">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/1.jpg" alt="">
                            <div class="work-info">
                                Branding & Design
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 disp-none"></div>
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/3.jpg" alt="">
                            <div class="work-info">
                                Print Ad Campaigns
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 disp-none"></div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3 disp-none"></div>
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/2.jpg" alt="">
                            <div class="work-info">
                                Digital Marketing Campaigns
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 disp-none"></div>
                <div class="col-6 col-md-3">
                    <div class="work-card-cont">
                        <a href="#">
                            <img src="assets/work/4.jpg" alt="">
                            <div class="work-info">
                                Web Development
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="brand_slider-section p-5">
    <div class="container p-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <h1>The Family we have Built & Nurtured</h1>
            </div>
            <div class="col-12 col-md-12 mt-5">
                <app-brand-slider></app-brand-slider>
            </div>
        </div>
    </div>

</div>