.card__services {
    border: 1px solid rgb(255 255 255 / 35%);
    border-radius: 10px;
    position: relative;
    transform: translate(0, 0);
    -webkit-transition: all 1s cubic-bezier(0.62, 0.12, 0.23, 0.88);
    transition: all 1s cubic-bezier(0.62, 0.12, 0.23, 0.88);
    cursor: pointer;
    margin: 20px 5px;
    height: 325px;
}

.card__services:hover {
    transform: translate(0, -25px);
    box-shadow: 2.8px 2.8px 2.2px rgb(255 30 36 / 1%), 6.7px 6.7px 5.3px rgb(255 30 36 / 2%), 12.5px 12.5px 10px rgb(255 30 36 / 3%), 22.3px 22.3px 17.9px rgb(255 30 36 / 3%), -5px -3px 33.4px rgb(255 30 36 / 4%), -1px 6px 80px rgb(255 30 36 / 5%);
    border: 1px solid rgb(255 30 36 / 21%);
}

.card__services .service__card_img {
    background: #ed1e24;
}

.service__card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 100px;
    top: 12px;
    left: 17px;
    width: 54px;
    height: 55px;
}

.service__card_img img {
    width: 30px;
    height: 30px;
}

.service__card_subject {
    padding: 30px 20px;
}

.service__card_subject h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
}

.service__card_subject p {
    color: #fff;
}