.banner-section {
    margin-top: 10%;
}

.service-section {
    margin-top: 5%;
    margin-bottom: 10%;
}

.service-banner {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    height: 445px;
}

.service-banner>img {
    width: 100%;
}

.some-fact-section {
    margin-bottom: 10%;
}

.some_fact-card {
    background: #181818;
    color: #fff;
    border-radius: 10px;
}

.some_fact-card h1 {
    font-weight: bold;
}

.facts_block {
    display: grid;
    gap: 35px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.some_fact-card .col-6.p-5:nth-child(2) {
    border-left: 2px solid #d5333e;
}

.facts_block .block {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.facts_block .block i {
    font-size: 50px;
}

.facts_block .block .number {
    font-size: 30px;
    font-weight: bold;
}

.work_showcase-section {
    margin-bottom: 10%;
}

.work_showcase-section .left_section h1 {
    font-weight: bold;
    color: #fff;
}

.work-card-cont {
    width: 160px;
    height: 160px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.work-card-cont img {
    width: 300px;
}

.work-info {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #0000007e;
    padding: 15px;
}

.work-card-cont:hover {
    box-shadow: rgb(213 51 62) -2px 0px 24px;
}

.work-card-cont {
    transition: box-shadow .5s ease-in-out;
}

.readmore {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.readmore:hover .fa-arrow-right {
    margin-left: 30px;
}

.has-transition {
    transition: margin-left .2s ease-in-out;
}

.work_showcase-section>.row {
    position: relative;
}

.bacground-overlay {
    position: absolute;
    overflow: hidden;
    width: unset;
    bottom: -120px;
    right: 0;
    opacity: .5;
}

.brand_slider-section {
    background: url(/assets/Client.png);
    margin-top: 20%;
    margin-bottom: 10%;
}

.brand_slider-section h1 {
    font-weight: bold;
    color: #fff;
}