.register-form-home-wrapper {
    margin-top: 25px;
    padding: 40px 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px 5px;
}

.register-form-home-wrapper h3 {
    margin-bottom: 5px;
    font-size: 22px;
}

input.register-input-home,
select.register-input-home {
    width: 100% !important;
    height: 52px !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    margin-bottom: 15px !important;
    color: #555 !important;
    border: 1px solid #f1f1f1 !important;
    background-color: #f9f9f9 !important;
    font-size: 16px !important;
    border-radius: 5px 5px 5px 5px !important;
}

input.register-submit-home {
    background: #ed1e24;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 535px;
    padding: 16px 0;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

.bounceIn {
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: bounceIn;
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

button.btn.btn-primary {
    width: 100%;
    background: #ed1e24;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.error-class {
    color: red;
    font-size: 0.8rem;
}

.register_success_box_home {
    border: 1px solid green;
    padding: 0.5rem;
    color: green;
    margin: 1rem 0;
    font-size: 1rem;
    border-radius: 0.5rem;
}

select#inputState {
    appearance: auto;
}