<div class="register-form-home-wrapper wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">

    <h3>Get in touch with us</h3>

    <div>
        <p class="register_success_box_home" style="display:none;">We received your message and you will hear from us soon. Thank You!</p>
 
        <form id="register-form-home" class="register-form-home register" action="php/callback.php" method="post">
            

            <input class="register-input-home name-input-home grey-input" required="" name="register_names_home" placeholder="Company Name*" type="text">
        
            <input class="register-input-home name-email-home grey-input" required="" name="register_email_home" placeholder="Email Adress*" type="email">

            <select class="register-input-home grey-input" required="" name="register_ticket_home">

                <option value="">Which Service(s) would you&nbsp;like?</option>

                <option value="Film Publicity Campaign">Film Publicity Campaign</option>

                <option value="Branding &amp; Design">Branding &amp; Design</option>

                <option value="Digital Campaigns">Digital Campaigns</option>

                <option value="Advertising Campaigns">Advertising Campaigns</option>

                <option value="Web Development">Web Development</option>

                <option value="Creative Photography &amp; Video">Creative Photography &amp; Video</option>


            </select>
           
            <input value="Call back" class="register-submit-home" type="submit">
                
        </form>
        
    </div>

</div>