<section class="work_showcase_details my-7">
    <div class="container">
        <div class="row" *ngFor="let workDetailsImges of workPost">
            <ng-container *ngIf="workDetailsImges.id == getId">
                <div class="col-12 col-md-6 col-lg-6">

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <ng-container *ngFor="let imgU of workDetailsImges.acf.gallery.gallery_img; let i = index;">
                                <div [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
                                    <!-- <img src="" alt=""> {{workDetailsImges.acf.gallery.url}} -->
                                    <img src="{{ imgU.url}}" class="d-block w-100" alt="...">
                                    <!-- <img *ngIf="getImageUrl(workDetailsImges.acf.gallery.gallerynew)" [src]="getImageUrl(workDetailsImges.acf.gallery.gallerynew)" alt="Image"> -->
                                </div>
                            </ng-container>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-6">

                    <div class="right_Side_content_details p-5">
                        <h3>{{workDetailsImges.acf.title}}</h3>
                        <!-- <p>{{workDetailsImges.acf.description}}</p> -->
                        <p [innerHTML]="workDetailsImges.acf.description"></p>

                    </div>
                </div>
            </ng-container>


        </div>

    </div>


</section>